<module>
	<rawname>itslenny</rawname>
	<name>Its Lenny</name>
	<version>0.0.1</version>
	<publisher>POSSA</publisher>
	<license>GPLv2+</license>
	<category>Other</category>
	<menuitems>
		<itslenny>Its Lenny</itslenny>
	</menuitems>
	<changelog>
		*0.0.1*  Initial fork from the Lenny BLacklist Mod
		</changelog>
	<depends>
		<version>ge 2.10</version>
		<module>blacklist</module>
	</depends>
</module>
